/* Basic styling, adjust as needed */
.blog-posts {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0px 10px;
  margin: 0;
  width: 100%;
}

.post {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.post img {
  max-width: 100%;
  max-height: 90%;
  height: auto;
  border-radius: 5px;
}

.post-info {
  padding: 10px;
}

h2 {
  margin-top: 0;
}

.date {
  font-style: italic;
  color: #666;
}

.description {
  margin-top: 5px;
  font-size: 14px;
  color: #333;
}

/* blog posts thumbnails */
.blog-post-wrapper {
  display: flex;
  flex-direction: row;
  cursor: none;
  transition: all 0.5s ease; /* Adds a smooth transition for all properties */
}

.blog-post-wrapper:hover {
  text-decoration: none;
  background: #333;
  padding: 10px;
}

.blog-image {
  width: 25%;
  margin-right: 15px;
  align-content: center;
}

.blog-image img {
  max-width: 100%;
  border: #333 solid 2px;
}

.text-side {
  width: 75%;
}

.title-area {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.title-area h4 {
  font-size: 1rem;
  color: grey;
}

.short-description {
  padding-top: 11px;
}

.short-description p {
  color: grey;
}

/* Style for the custom cursor */
#custom-cursor {
  position: absolute;
  font-size: 24px;
  font-weight: bold;
  color: red;
  white-space: nowrap;
  pointer-events: none;
  overflow: hidden;
  /* Prevents overflow of text */
  width: 275px;
  /* Width of the visible area */
  transform: rotate(350deg);
  /* Tilted 350 degrees clockwise */
}

/* Span containing the repeated text */
#custom-cursor span {
  display: inline-block;
  padding-left: 100%;
  animation: ticker 7s linear infinite;
  /* Control speed with duration */
}

/* Keyframes for smooth ticker effect */
@keyframes ticker {
  0% {
    transform: translateX(0);
    /* Start at the beginning */
    opacity: 1;
    /* Fully visible */
  }

  25% {
    opacity: 1;
    /* Remain visible */
  }

  50% {
    opacity: 1;
    /* Fade out slightly as it scrolls left */
  }

  75% {
    opacity: 1;
    /* Fully fade out as it leaves the view */
  }

  100% {
    transform: translateX(-100%);
    /* Scroll text fully left */
    opacity: 1;
    /* Reset opacity when text reappears on the right */
  }
}

/* Media Queries for Mobile */
@media screen and (max-width: 701px) {
  .filter.wow.fadeInUp {
    text-align: right;
  }
  
  .blog-post-wrapper {
    flex-direction: column;
  }

  .blog-image {
    width: 100%;
    margin-right: 0px;
  }

  .text-side {
    width: 100%;
  }

  .title-area h3 {
    padding-top: 10px;
    font-size: 1.5rem;
  }

  .title-area h4 {
    font-size: 0.75rem;
  }

  .title-area h5 {
    font-size: 1.2rem;
  }
}